body {
      font-family: "Poppins", sans-serif;
      background-color: blue;
      color: white;
      text-align: center;
      padding: 20px;
    }
    h1 {
      margin-top: 0;
    }
    .peluqueria-info {
      background: rgba(255,255,255,0.2);
      padding: 15px;
      border-radius: 10px;
      margin-bottom: 20px;
    }
    .juego {
      background: rgba(0,0,0,0.3);
      border-radius: 15px;
      padding: 20px;
      display: inline-block;
      min-width: 300px;
    }
    .cliente {
      font-size: 18px;
      margin-bottom: 10px;
    }
    .cortes button {
      background: white;
      color: #9013fe;
      border: none;
      padding: 10px 15px;
      border-radius: 8px;
      margin: 5px;
      cursor: pointer;
      transition: transform 0.2s;
    }
    .cortes button:hover {
      transform: scale(1.1);
      background: #ddd;
    }
    .resultado {
      margin-top: 15px;
      font-weight: bold;
    }
    .puntaje {
      font-size: 20px;
      margin-top: 10px;
    }
    .clima-container {
      padding-left: 85%;
      height: 100px;
      
      
    }
    .buton {
      padding: 10px 15px;
      font-size: 12px;
      border: none;
      border-radius: 8px;
      background-color: #7c7bd6;
      color: white;
      cursor: pointer;
      transition: background-color 0.3s;
    }
    .fotos{
      display: flex;
      justify-content: center;
      gap: 20px;
      margin-top: 20px;
    }

    .img{

    width: 150px;  
    height: auto;
 
    }
    .img2{
 
    width: 150px;  
    height: auto;
    }
    .img3{
    width: 150px;  
    height: auto;
    }
    .img4{
    width: 150px;  
    height: auto;
    }